# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=NYC_TLC
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_ANALYTICS=ANALYTICS
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=SYSADMIN

# Data range
START_YEAR=2015
END_YEAR=2025
SERVICES=yellow,green

# Execution
RUN_ID=run_local_001
VALIDATE_DATA=true
CHUNK_BY=month

# Spark / notebook
JUPYTER_PORT=8888
SPARK_UI_PORT=4040